.site {
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}


.site__header,
.site__main,
.site__footer,
.site__sidebar {
	padding: 1vh 1vw;
}

.site__header {
	grid-area: header;
	background-color: indianred;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site__sidebar {
	grid-area: sidebar;
	background-color: rgb(255, 255, 255);
}

.site__footer {
	grid-area: footer;
	background-color: lavender;
}

/* @import "no-sidebar"; */
