.article_cours {
    position: relative;
    max-width: $width__article;
    font-family: $font__main;
    padding: 15px;
    min-height: 400px;
    border: 2px solid $color__article_secondaire;
}

.article_cours:nth-of-type(odd){
    border:2px solid blueviolet;
}

.article_cours__titre {
    font-weight: 400;
    font-size: 1.40rem;
    display: inline-block;
    color: $color__article_texte;
}

.article_cours__texte {
    line-height: $font__line-height-body;
    font-weight: 300;
    color: $color__article_texte;
}

.article_cours__bouton {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px 10px;
    bottom: 10%;
    position: absolute;
}

/* --article_section------ */

.article_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: $max__width_section;
    margin-left: auto;
    margin-right: auto;

    column-gap: 10px;
    row-gap: 10px;

}

