.article_cours {
    display: flex;
    max-width: $max_width_section;
    overflow-x: scroll;
    font-family: $font__main;
    padding-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.article_cours>article {
    flex-shrink: 0;
    display: flex;
    align-items:flex-end;
}

.article_cours>article {
    background-color: $color_article_cours;
    color: $color_article_cours_p;
    min-width: 27.5ch;
    max-width: 27.5ch;
    padding: 10px;
    min-height: 150px;
    border-radius: 5px;
}

.article_cours>article{
    margin-inline-end: 20px;
}

.article_cours_entete {
    max-width: $max_width_section;
    margin-left: auto;
    margin-right: auto;
}