.article_cours {
    display: flex;
    max-width: $max_width_section;

    flex-wrap: wrap;
    font-family: $font__main;
    padding-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



.article_cours>article {
    min-width: 32ch;
    max-width: 32ch;
    padding: 10px;
    border-radius: 5px;
}

.article_cours>article>header>p {
    height: 100%;
    display: inline-block;
    vertical-align:middle;
}

.article_cours>article>header {
    background-color: $color_article_cours;
    color: $color_article_cours_p;
    padding: 10px;
    min-height: 100px;
}

.article_cours>article{
    margin-inline-end: 10px;
    margin-block-end: 30px;
}

.article_cours_entete {
    max-width: $max_width_section;
    margin-left: auto;
    margin-right: auto;
}